<div class="card text-center">
  <div class="card-header">
    TEAM-VIEW
  </div>
  <div class="card-body">
    <h5 class="card-title">{{team.teamname}}</h5>
    <p class="card-text">{{team.description}}.</p>
    <a href="#" class="btn btn-danger">Leave team</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Routes</h5>
        <p class="card-text">Check the latest routes traveled by the team.</p>
        <a href="#" class="btn btn-primary">Team Routes</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>