<div class="bg-image">
</div>
<div class="texto-index">
  <div class="head">
    <h1>BikeTeams!</h1>
    <p>The best web site for cyclists</p>
  </div>
  <div class="explanation">
    <div class="card exp-card" style="width: 18rem;">
      <img src="/img/superBike.jpg" class="card-img-top exp-card-img" alt="Bike">
      <div class="card-body">
        <p class="card-text">Add, edit and delete your different bikes.</p>
      </div>
    </div>
    <div class="card exp-card" style="width: 18rem;">
      <img src="/img/bikeFriends.jpg" class="card-img-top exp-card-img" alt="Bike">
      <div class="card-body">
        <p class="card-text">Create and invite your friends to your team.</p>
      </div>
    </div>
    <div class="card exp-card" style="width: 18rem;">
      <img src="/img/bikeRun.jpg" class="card-img-top exp-card-img" alt="Bike">
      <div class="card-body">
        <p class="card-text">Start cycling alone or with friends!!!.</p>
      </div>
    </div>
  </div>
</div>