<div class="container">

  <form action="/bike/add" method="POST">

    <div class="form-group">
      <label for="exampleFormControlInput1">Bike's name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Size</label>
      <select class="form-control" name="size" id="exampleFormControlSelect1">
        <option>XS</option>
        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Wheel size</label>
      <select class="form-control" name="wheel_size" id="exampleFormControlSelect2">
        <option>24"</option>
        <option>26"</option>
        <option>27.5"</option>
        <option>29"</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput2">Shifter description</label>
      <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="" name="shifter">
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-block">
        Save
      </button>
    </div>
  </form>
</div>